@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

@tailwind base;
@tailwind component;
@tailwind utilities;

:root{
  font-family: 'Poppins',sans-serif;
}
body{
  background: white;
}

li{
  list-style: none;
  cursor: pointer;
  position: relative;
}
li:hover::before{
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background: #2a68ff;
  right: 0;
  bottom: -8px;
  color: #2a68ff;
}
.icon{
  cursor: pointer;
}
.card{
  background:url(/src/Assets/textimonial-bg.png);
  background-color: #d2d5dc;
}
#logo{
  border-radius: 50%;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1.154;
  display: grid;
  background: conic-gradient(from 149deg at top,#0000, #BF1E62 1deg 60deg,#0000 61deg);
  animation: l14 2s infinite cubic-bezier(0.5,500,0.5,-500);
  transform-origin: top;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  background: conic-gradient(from 149deg at top,#0000, #FFA588 1deg 60deg,#0000 61deg);
  transform-origin: inherit;
  animation: inherit;
}
.loader:after {
  background: conic-gradient(from 149deg at top,#0000, #027B7F 1deg 60deg,#0000 61deg);
  animation-timing-function: cubic-bezier(0.5,800,0.5,-800);
}
@keyframes l14{
  100% {transform: rotate(0.2deg)}
}

/* HTML: <div class="loader"></div> */
.loader1 {
  display: inline-flex;
  gap: 5px;
  animation: l3-0 1s infinite;
  transform-origin: 50% calc(100% + 2.5px);
}
.loader1:before,
.loader1:after {
  content: "";
  width: 25px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px inset #fff;
}
.loader1:after {
  transform-origin: -2.5px calc(100% + 2.5px);
  animation: l3-1 1s infinite;
}
@keyframes l3-1 {
  50%,
  100% {transform:rotate(180deg)}
}
@keyframes l3-0 {
  0%,
  50%  {transform:rotate(0deg)}
  100% {transform:rotate(90deg)}
}

/* HTML: <div class="loader"></div> */
.loader2 {
  width: 50px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.loader2,
.loader2:before,
.loader2:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #202cda 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #1b0ecf 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader2:before,
.loader2:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader2:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}